@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Noto+Sans:wght@300&display=swap');

/* font-family: 'Alex Brush', cursive;
font-family: 'Noto Sans', sans-serif; */

:root {
  --primary-color: #fd79a8;
  --secondary-color: #ffeaa7;
  --primary-accent-color: #dfe6e9;
  --seconday-accent-color: #2d3436;
  --backup1-color: #55efc4;
  --backup2-color: #81ecec;
  --backup3-color: #fab1a0;
}