@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font-family: 'Alex Brush', cursive;
font-family: 'Noto Sans', sans-serif; */
$primary: #F0386B;
$secondary: #FF3576;
$accent1: #F8C0C8;
$accent2: #E2C290;
$white: #FFFFFF;
$dark-gray: #2c2727;

body {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 90px;
  margin-right: 90px;
  cursor: default;
}

.navbar {
  float: left;
  display: inline;
  max-width: 100%;
  padding: 15px;
  font-size: 22px;
  img {
    transition: transform .2s;
    height: 100px;
  }
  img:hover {
    transform: scale(1.2);
  }

  .navbar-right {
    display: flex;
    align-items: center;
    float: right;
    a {
      padding: 14px 16px;
      text-decoration: none;
      color: $primary;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      transition: transform .2s;
    }
    a:hover {
      background-color: $secondary;
      color: $white;
      transform: scale(1.1);
    }
  }
}

.title {
  text-align: center;
  h1 {
    margin-top: 10px;
    font-size: 50px;
    color: $primary;
    transition: transform .3s;
  }
  h1:hover {
    color: $accent1;
    transform: scale(1.1);
    text-decoration: underline;
  }
}

// Products
#products {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(30%, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(400px, 1fr);
  // column-gap: 20px;
  overflow-x: auto;
  margin-bottom: 30px;
  // padding: 40px;
  .product {
    display: block;
    width: 100%;
    color: $dark-gray;
    background-color: $white;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transition: transform .2s;
    transform: scale(0.9);
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    .product__info {
      text-align: center;
      padding: 15px;
      h3 {
        color: $primary;
        font-size: 45px;
        margin: 0;
      }
    }
  }
  .product:hover {
    transform: scale(1.0);
  }
}


// Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__info {
    margin-bottom: 15px;
  }
  a {
    color: $accent2;
    padding: 14px 16px;
    text-decoration: none;
    p {
      display: inline;
      color: $secondary;
    }
  }
  a:hover {
    color: $primary;
    p {
      color: $accent2
    }
  }
}

.icon {
  width: 30px;
  background-color: $accent1;
  padding: 10px;
  border-radius: 10px;
  transition: transform .1s;
}

.icon:hover {
  background-color: $secondary;
  transform: scale(1.2);
}

.logo {
  width: 50px;
  padding: 0px;
}

@media only screen and (max-width: 850px) {
  body {
    margin: 0;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    .navbar-right {
      flex-direction: column;
      a {
        padding: 0;
      }
    }
  }
  .about-us {
    .about-us__card {
      display: block;
      img {
        width: 100%;
      }
      .about-us__card__info {
        width: 100%;
        text-align: center;
        h3 {
          font-size: 30px;
        }
      }
    }
  }
  .footer {
    text-align: center;
    .footer__info {
      a {
        display: block;
      }
    }
  }
}