@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font-family: 'Alex Brush', cursive;
font-family: 'Noto Sans', sans-serif; */
$primary: #F0386B;
$secondary: #FF3576;
$accent1: #F8C0C8;
$accent2: #E2C290;
$white: #FFFFFF;
$dark-gray: #2c2727;

body {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 90px;
  margin-right: 90px;
  cursor: default;
  overflow-x: hidden;
}

.navbar {
  display: inline;
  max-width: 100%;
  padding: 15px;
  font-size: 22px;
  margin-bottom: 90px;
  img {
    transition: transform .2s;
    height: 100px;
  }
  img:hover {
    transform: scale(1.2);
  }

  .navbar-right {
    display: flex;
    align-items: center;
    float: right;
    a {
      padding: 14px 16px;
      text-decoration: none;
      color: $primary;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      transition: transform .2s;
    }
    a:hover {
      background-color: $secondary;
      color: $white;
      transform: scale(1.1);
    }
  }
}

// Hero Image
.grid {
  color: $dark-gray;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.6fr 0.5fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 120px;
  // height: 660px;
  img {
    object-fit: cover;
    width: 100%;
    height: 315px;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  #hero-msg {
    grid-column: 1/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    cursor: default;
    h1 {
      color: $secondary;
      margin: 0;
      font-weight: 900;
      font-size: 50px;
    }
    .hero-msg__info {
      display: grid;
      grid-template-rows: 1fr 0.25fr;
      p {
        margin: 0;
      }
      a {
        width: 90px;
        color: $white;
        padding: 14px 16px;
        background-color: $primary;
        text-decoration: none;
      }
      a:hover {
        background-color: $accent1;
      }
    }
  }
  #products {
    grid-column: 1/4;
    grid-row: 3/4;
    display: grid;
    // https://stackoverflow.com/questions/54724693/horizontal-scroll-with-css-grid
    grid-template-columns: repeat(autofill, minmax(400px, 1fr));
    grid-auto-flow: column;
    grid-auto-columns: minmax(400px, 1fr);
    overflow-x: auto;
    .product {
      margin-right: 15px;
      display: grid;
      width: 400px;
      height: 150px;
      grid-template-columns: 1fr 2fr;
      column-gap: 10px;
      transition: transform 0.5s;
      background-color: $white;
      img {
        grid-column: 1/2;
        height: 150px;
        width: 100%;
      }
      .product__info {
        grid-column: 2/3;
        display: grid;
        h3 {
          margin: 0;
          color: $accent2;
        }
        p {
          margin: 0;
        }
      }
    }
    .product:hover {
      transform: scale(1.1);
    }

  }
  .reviews {
    grid-column: 3/4;
    grid-row: 1/3;
    background-color: $accent1;
    padding: 20px;
    h2 {
      margin: 0;
      color: $primary;
      font-size: 35px;
    }
    #reviews__scroll {
      height: 450px;
      overflow: scroll;
    }
    .review {
      display: block;
      margin-top: 15px;
      margin-bottom: 15px;
      background-color: $accent1;
      hr {
        border-color: $accent2;
      }
      h3 {
        color: $white;
        font-size: 25px;
        margin: 0;
      }
      p {
        color: $dark-gray;
        margin: 0;
        margin-top: 10px;
        line-height: 30px;;
      }
    }
  }
}

// About Us Section
.about-us {
  h2 {
    text-align: center;
    transition: transform .5s;
    color: $primary;
    font-size: 35px;
    margin-bottom: 80px;
  }
  h2:hover {
    color: $accent1;
    text-decoration: underline;
  }
  .about-us__card {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-gray;
    margin-bottom: 80px;
    img {
      width: 300px;
      height: 300px;
      margin-right: 30px;
      object-fit: cover;
    }
    .about-us__card__info {
      width: 500px;
    }
    h3 {
      font-size: 35px;
      a {
        color: $primary;
      }
    }
    p {
      line-height: 30px;
    }
  }
}

.about-us{
  h2:hover {
    transform: scale(1.2);
  }
}

// Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__info {
    margin-bottom: 15px;
  }
  a {
    color: $accent2;
    padding: 14px 16px;
    text-decoration: none;
    p {
      display: inline;
      color: $secondary;
    }
  }
  a:hover {
    color: $primary;
    p {
      color: $accent2
    }
  }
}

.icon {
  width: 30px;
  background-color: $accent1;
  padding: 10px;
  border-radius: 10px;
  transition: transform .1s;
}

.icon:hover {
  background-color: $secondary;
  transform: scale(1.2);
}

.logo {
  width: 50px;
  padding: 0px;
}

// Cherry Blossoms 
#petals-container {
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -20;
  margin: 0;
}

.petal {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  position: absolute;
  top: -10rem;
  bottom:0;
  z-index: 150;
}
.petal .rotate {
  animation: driftyRotate 1s infinite both ease-in-out;
  perspective: 1000;
}
.petal .askew {
  background: currentColor;
  transform: skewY(10deg);
  display: block;
  width: 100%;
  height: 100%;
  animation: drifty 1s infinite alternate both ease-in-out;
  perspective:1000;
}

.petal {
  color: rgba(0,0,0,0);
}
.petal:nth-of-type(7n) .askew {
  animation-delay: -.6s;
  animation-duration: 2.25s;
}
.petal:nth-of-type(7n + 1) .askew {
  animation-delay: -.879s;
  animation-duration: 3.5s;
}
.petal:nth-of-type(7n + 2) .askew {
  animation-delay: -.11s;
  animation-duration: 1.95s;
}
.petal:nth-of-type(7n + 3) .askew {
  animation-delay: -.246s;
  animation-duration: .85s;
}
.petal:nth-of-type(7n + 4) .askew {
  animation-delay: -.43s;
  animation-duration: 2.5s;
}
.petal:nth-of-type(7n + 5) .askew {
  animation-delay: -.56s;
  animation-duration: 1.75s;
}
.petal:nth-of-type(7n + 6) .askew {
  animation-delay: -.76s;
  animation-duration: 1.5s;
}
  
.petal:nth-of-type(9n) .rotate {
  animation-duration: 2s;
}
.petal:nth-of-type(9n + 1) .rotate {
  animation-duration: 2.3s;
}
.petal:nth-of-type(9n + 2) .rotate {
  animation-duration: 1.1s;
}
.petal:nth-of-type(9n + 3) .rotate {
  animation-duration: .75s;
}
.petal:nth-of-type(9n + 4) .rotate {
  animation-duration: 4.3s;
}
.petal:nth-of-type(9n + 5) .rotate {
  animation-duration: 3.05s;
}
.petal:nth-of-type(9n + 6) .rotate {
  animation-duration: 2.76s;
}
.petal:nth-of-type(9n + 7) .rotate {
  animation-duration: 7.6s;
}
.petal:nth-of-type(9n + 8) .rotate {
  animation-duration: 1.78s;
}

@keyframes drifty {
  0% {
    transform: skewY(10deg) translate3d(-250%, 0, 0);
    display:block;
  }
  100% {
    transform: skewY(-12deg) translate3d(250%, 0, 0);
    display:block;
  }
}
@keyframes driftyRotate {
  0% {
    transform: rotateX(0);
    display:block;
  }
  100% {
    transform: rotateX(359deg);
    display:block;
  }
}

@media only screen and (max-width: 850px) {
  body {
    margin: 0;
  }
  .grid {
    text-align: center;
    display: block;
    margin-bottom: 50px;
    #hero-msg {
      display: block;
      height: 200px;
      margin-bottom: 100px;
      .hero-msg__info {
        display: block;
        p {
          margin-top: 20px;
          margin-bottom: 20px;
        }
      }
    }
    #products {
      margin-bottom: 100px;;
    }

    .reviews {
      margin-top: 50px;
      margin-bottom: 30px;
    }
  }
  .about-us{
    margin-top: 0;
    padding: 40px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    .navbar-right {
      flex-direction: column;
      a {
        padding: 0;
      }
    }
  }
  .about-us {
    .about-us__card {
      display: block;
      img {
        width: 100%;
      }
      .about-us__card__info {
        width: 100%;
        text-align: center;
        h3 {
          font-size: 30px;
        }
      }
    }
  }
  .footer {
    text-align: center;
    .footer__info {
      a {
        display: block;
      }
    }
  }
}