form {
  background-color: orange;
  padding: 30px;
}

label {
  font-size: 30px;
}

input {
  border-radius: 5px;
  border: 2px solid red;
  font-size: 30px;
}

button {
  background-color: green;
  font-size: 40px;
}

button:hover {
  background-color: red;
  cursor: pointer;
}