@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font-family: 'Alex Brush', cursive;
font-family: 'Noto Sans', sans-serif; */
$primary: #F0386B;
$secondary: #FF3576;
$accent1: #F8C0C8;
$accent2: #E2C290;
$white: #FFFFFF;
$dark-gray: #2c2727;

body {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 90px;
  margin-right: 90px;
  cursor: default;
  color: $dark-gray;
}

.navbar {
  float: left;
  display: inline;
  min-width: 100%;
  padding: 15px;
  font-size: 22px;
  margin-bottom: 40px;
  img {
    transition: transform .2s;
    height: 100px;
  }
  img:hover {
    transform: scale(1.2);
  }

  .navbar-right {
    display: flex;
    align-items: center;
    float: right;
    a {
      padding: 14px 16px;
      text-decoration: none;
      color: $primary;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
      transition: transform .2s;
    }
    a:hover {
      background-color: $secondary;
      color: $white;
      transform: scale(1.1);
    }
  }
}

// Contact Us
.contact-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  margin-bottom: 100px;
}

#reviews__scroll {
  grid-column: 1/2;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(autofill, minmax(500px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(500px, 1fr);
  overflow-x: auto;
  column-gap: 50px;
  justify-items: center;
  align-items: center;
}

.review {
  width: 100%;
  color: $white;
  img {
    width: 100px;
    border-radius: 100px;
  }
  h3 {
    margin: 0;
    font-size: 40px;
    color: $primary;
  }
  p {
    margin: 0;
    color: $dark-gray;
    a {
      font-weight: 900;
      color: $secondary;
    }
  }
}

.contact-us__container {
  grid-column: 2/3;
  background-color: $accent1;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h2 {
    margin: 0;
    font-size: 15px;
    color: $dark-gray;
  }

  h1 {
    margin-top: 0;
    color: $white;
    transition: transform .2s;
    font-size: 40px;
  }
  h1:hover {
    transform: scale(1.1);
    color: $primary;
  }
}

.contact-us__info {
  a {
    transition: transform 0.2s;
    color: $primary;
    display: block;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
  }
  a:hover {
    color: $white;
  }
}


// Footer
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .footer__info {
    margin-bottom: 15px;
  }
  a {
    color: $accent2;
    padding: 14px 16px;
    text-decoration: none;
    p {
      display: inline;
      color: $secondary;
    }
  }
  a:hover {
    color: $primary;
    p {
      color: $accent2
    }
  }
}

.icon {
  width: 30px;
  background-color: $accent1;
  padding: 10px;
  border-radius: 10px;
  transition: transform .1s;
}

.icon:hover {
  background-color: $secondary;
  transform: scale(1.2);
}

.logo {
  width: 50px;
  padding: 0px;
}

@media only screen and (max-width: 850px) {
  body {
    margin: 0;
  }
  .contact-us {
    display: block;
    text-align: center;
  }

  .contact-us__container {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar {
    .navbar-right {
      flex-direction: column;
      a {
        padding: 0;
      }
    }
  }
  .about-us {
    .about-us__card {
      display: block;
      .about-us__card__info {
        width: 100%;
        text-align: center;
        h3 {
          font-size: 30px;
        }
      }
    }
  }
  .footer {
    text-align: center;
    .footer__info {
      a {
        display: block;
      }
    }
  }
}