@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400&family=Red+Hat+Display:wght@500;700;900&display=swap');

/* font-family: 'Alex Brush', cursive;
font-family: 'Noto Sans', sans-serif; */
$primary: #F0386B;
$secondary: #FF3576;
$accent1: #F8C0C8;
$accent2: #E2C290;
$white: #FFFFFF;
$dark-gray: #2c2727;

body {
  font-family: 'Red Hat Display', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-left: 90px;
  margin-right: 90px;
}

.navbar {
  float: left;
  display: inline;
  min-width: 100%;
  padding: 15px;
  font-size: 22px;
  margin-bottom: 90px;
  img {
    height: 70px;
  }
  .navbar-right {
    display: flex;
    align-items: center;
    float: right;
    a {
      padding: 14px 16px;
      text-decoration: none;
      color: $primary;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 400;
    }
    a:hover {
      background-color: $secondary;
      color: $white;
    }
  }
}
