body {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

.hero img {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.text {
  position: absolute;
  top: 20px;
  left: 300px;
}

.circles img {
  border-radius: 50%;
  border: 5px solid black;
  width: 150px;
  margin: 5%;
}

.circles {
  text-align: center;
  margin: 0 auto;
  background-color: gray;
}