body {
  margin: 0 auto;
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 800px;
}

.hero img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.text {
  top: 20px;
  left: 300px;
}

.circles img {
  border-radius: 50%;
  border: 8px solid black;
  width: 150px;
  margin: 5%;
}

.circles {
  text-align: center;
  margin: 0 auto;
  background-color: gray;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  .circles > img {
    border-width: 4px;
  }
}