div {
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 400px 400px;
}

.subtitle {
  font-size: 40px;
  color: maroon;
  margin-bottom: 100px;
  letter-spacing: 4px;
  grid-column: 2/3;
  grid-row: 2/4;
  text-align: center;
  z-index: 1;
}

.main-title {
  margin-top: 100px;
  letter-spacing: 20px;
  font-size: 80px;
  grid-column: 1/3;
  grid-row: 1/2;
  z-index: 1;
  text-align: center;
}

.cherries {
  background-color: white;
  max-width: 400px;
  grid-column: 1/2;
  grid-row: 1/4;
}

.gray {
  color: rgb(0,0,0, 0);
  background-color: gray;
  grid-column: 2/3;
  grid-row: 1/4;
}